<div class="message-wrapper">
  <% if message.user != current_user %>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <% if message.user.image.file %>
            <%= image_tag message.user.image.url, class: "user-icon" %></br>
          <% else %>
            <%= image_tag 'helmet_icon.png', class: 'user-icon' %></br>
          <% end %>
          <p><%= message.user.name %></p>
        </div>
        <div class="col-md-8 message-left">
          <p class="messages" data-id=<%= message.id %>><%= message.content %></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 message-right">
          <p class="messages" data-id=<%= message.id %>><%= message.content %></p>
        </div>
        <div class="col-md-2">
          <% if message.user.image.file %>
            <%= image_tag message.user.image.url, class: "user-icon" %></br>
          <% else %>
            <%= image_tag 'helmet_icon.png', class: 'user-icon' %></br>
          <% end %>
          <p><%= message.user.name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
