<div class="chat-room-wrapper">
  <div class="container">
    <h3>メッセージルーム</h3>
    <div class="row">
      <div class="col-md-12">
        <% if @messages.present? %>
          <div id="messages">
            <%= render @messages %>
          </div> 
        <% else %>
          <p>メッセージはありません</p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 auto-mx">
        <div class="message_form">
          <%= form_for @message do |f| %>
            <div class="form-group">
              <%= f.label "message", class: "text-white" %>
              <%= f.text_area :content, class: "form-control" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>
            <%= f.submit "送信", class: "btn form-control" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> 