<div class="following_users-wrapper">
  <div class="container">
    <h4>フォローユーザー一覧</h4>
    <% @following_users.each do |following_user| %>
      <div class="row">
          <div class="col-md-2 offset-md-1">
            <%= link_to user_path(id: following_user.follow_id) do %>
              <% if following_user.followed_user.image.file %>
                <%= image_tag following_user.followed_user.image.url, class: "user-icon" %>
              <% else %>
                <%= image_tag "/assets/bike_icon.png", class: "user-icon" %>
              <% end %>
              <h3><%= following_user.followed_user.name %></h3>
            <% end %>
          </div>
          <div class="col-md-5">
            <div class="recent_info">
              <% if following_user.followed_user.recent_info %>
                <p><%= following_user.followed_user.recent_info %></p>
              <% else %>
          　     <p>近況を報告</p>
              <% end %>
            </div>
          </div>
          <div class="col-md-3 follow_button">
            <% if following_user.user_id == current_user.id %>
              <%= render "relationships/follow_button", user: following_user.followed_user %>
              <% if @isRoom == true %>
                <%= link_to "/rooms/#{@roomId}" do %>
                  <p class="link_to_message btn btn-primary btn-block">メッセージ</p>
                <% end %>
              <% else %>
                <%= form_with model: @room, local: true do |f|%>
                  <%= hidden_field_tag :user_id, following_user.user_id %>
                  <%= f.submit "メッセージ", class: "link_to_message btn btn-primary btn-block" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
