<!DOCTYPE html>
<html>
  <head>
    <title>Motograffiti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <nav class="navbar navbar-dark" >
      <% if logged_in? %>
        <%= link_to topics_path do %>
          <span><%= image_tag "logo.png", class: "navbar-brand" %></span>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <span><%= image_tag "logo.png", class: "navbar-brand" %></span>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar" >
        <ul class="navbar-nav mr-auto">
          <% if logged_in? %>
            <li class="nav-item active">
              <%= link_to user_path(id: current_user.id) do %>
                <p><%= current_user.name %></p>
              <% end %>
            </li>
            <li>
              <%= link_to likes_index_path do %>
                <p>お気に入り一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to topics_path do %>
                <p>投稿一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path do %>
                <p>投稿する</p>
              <% end %>
            </li>
            <li>
              <%= link_to "/relationships/#{current_user.id}/index" do %>
                <p>フォローユーザー</p>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <p>ログアウト</p>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_path do %>
                <p>ユーザー登録</p>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <p>ログイン</p>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= form_tag ('/topics/search'), :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, '', class: "form-control mr-sm-2", :placeholder => "search" %>
          <%= submit_tag "検索", :name => nil, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
      <%= yield %>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>